muledemo/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:client="http://www.mulesoft.org/schema/mule/client"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:management="http://www.mulesoft.org/schema/mule/management"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:sxc="http://www.mulesoft.org/schema/mule/sxc"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.6/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.6/mule-file.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.6/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.6/mule-jdbc.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.6/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.6/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.6/mule-client.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.6/mule-cxf.xsd
        http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.6/mule-management.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.6/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/sxc http://www.mulesoft.org/schema/mule/sxc/3.6/mule-sxc.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.6/mule-xml.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.6/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/3.6/mule-ws.xsd">
        

    <description>
    mule demo
    </description>

 

    <ws:consumer-config doc:name="Web Service Consumer" name="Web_Service_Consumer" port="TshirtServicePortTypePort" 
    	service="TshirtServicePortTypeService" 
    	serviceAddress="http://tshirt-service.cloudhub.io" 
    	wsdlLocation="http://tshirt-service.cloudhub.io/?wsdl"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081"/>
    
    
    <flow name="queue">
        <vm:inbound-endpoint path="in" exchange-pattern="one-way"/>
        <echo-component/>
        <logger doc:name="Logger" level="ERROR" message="message in queue #[message.payload:java.lang.String]"/>
    </flow>
    
    
	<flow name="exampleFlow1" doc:name="exampleFlow1">
	    <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP Connector"/>
	    <!--  <set-payload value="Hello World!" doc:name="Set Payload"/> -->
	    <!-- <set-payload value="&lt;OrderTshirt&gt;&lt;size&gt;1&lt;/size&gt;&lt;email&gt;sdf2@sdfco.com&lt;/email&gt;&lt;name&gt;dsf&lt;/name&gt;&lt;address1&gt;sdsfd&lt;/address1&gt;&lt;address2&gt;sdf&lt;/address2&gt;&lt;city&gt;dsfs&lt;/city&gt;&lt;stateOrProvince&gt;sdfs&lt;/stateOrProvince&gt;&lt;postalCode&gt;34345&lt;/postalCode&gt;&lt;country&gt;Italy&lt;/country&gt;&lt;/OrderTshirt&gt;" doc:name="Set Payload"/>  -->
	    <logger doc:name="Logger" level="ERROR" message="About to echo #[message.payload]"/>
	    <ws:consumer config-ref="Web_Service_Consumer" doc:name="Order Tshirt" operation="OrderTshirt"/>
	    <mule-xml:xml-prettyprinter-transformer name="XmlPrettyPrinter" />
	    <logger doc:name="Logger" level="ERROR" message="About 2 to echo #[message.payload:java.lang.String]"/>
	    <component doc:name="Java" class="com.developingit.mule.muledemo.TestComponent"/>
	    <vm:outbound-endpoint path="in"/>
	    <!-- <http:response-builder contentType="application/xml" doc:name="HTTP Response Builder" status="200"/>  -->
	</flow>
</mule>
